li {
  a {
    display: inline-block;
    padding: 1.28em;

    font-family: Lato;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    
    cursor: pointer;
    transition: 0.25s;
  }
}

li.menu {
  display: none;
}