$darktan: #D7D3C8;
$lighttan: #F6F4EC;
$charcoal: #404040;
$cactus: #087744;

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  
  li {
    
    a {
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5em;
      color: #087744;
      font-size: 1.2em;
    }

    a:hover {
      border: 3px solid $charcoal;
    }
  }
}
