@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.top-nav {
  @include flexbox(row, space-between, center);
  box-shadow: 0 1px 5px black;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #6AB344;
  list-style-type: none;
  color: white;

  div {
    @include flexbox(row, center, center);
    transition: 1s;
    li {
      display: inline;
    }
  }
  div.right-links-closed { display: none; }
  div.right-links-open { display: inline; }
  li {
    a {
      display: inline-block;
      padding: 1.28em;

      font-family: Lato;
      font-size: 1em;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      
      cursor: pointer;
      transition: 0.25s;
    }
  }

  li.logo {
    font-size: 2em;
    a {
      text-transform: none;
    }
  }

  li.menu {
    margin-top: -10px;
    font-size: 2em;
  }
}
