@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.top-nav {
  @include flexbox(row, space-between, center);
  width: 768px; height: 100%;
  list-style-type: none;

  div {
    @include flexbox(row, center, center);
    transition: 1s;
  }

  div.hidden {
    margin-top: -240px;
  }

  div.right-links {
    margin-top: inherit;
  }

  li {
    a {
      padding: 1em;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  li.logo {
    font-size: 1.5em;
  }

  li.menu {
    font-size: 2em;
    margin-top: -5px;
  }
}
