.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; height: 100vh;
}

.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.summary {
  z-index: 3;
  box-shadow: 5px, 5px, 5px, black;
  margin: 2em;
  padding: 1em;
  width: 100%;
  border-radius: 1em;
  background: rgba(white, 0.75);
  color: black;
  font-family: Lato;
}
