* {
  margin: 0;
  padding: 0;
}

.app::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0; top: 0;
  width: 100%; height: 100%;
  opacity: 0.4;
  background-image: url('../../assets/plane.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
