$darktan: #D7D3C8;
$lighttan: #F6F4EC;
$charcoal: #404040;
$cactus: #087744;

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient($darktan, $lighttan);
  font-family: Open Sans;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  margin-top: 100px;
  min-height: calc(100vh - 280px);
  
  .page-view {
    max-width: 768px;
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.25em;
      border-bottom: 1px solid $cactus;
    }
    ul {
      list-style-type: none;
    }
    article {
      margin: 25px 0;
    }
  }
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  width: 100%; height: 100px;
  background: $charcoal;
  color: $lighttan;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .content {
    .page-view {
      width: 90%;
      h1 { font-size: 2em;}
      h2 { font-size: 1.2em;}
    }
  }

  .footer {
    font-size: .75em;
  }
}